.confirm-modal {
  text-align: center;

  .confirm-modal-icon {
    font-size: 60px;
    color: gray;
  }

  .confirm-modal-title {
    font-size: 20px;
  }

  .confirm-modal-msg {
    font-size: 15px;
  }
}
