@import "src/assets/scss/variables";

.confirm-modal {
  text-align: center;

  .confirm-modal-icon {
    width: 60px;
    font-size: 60px;
    color: $gray-font;
  }

  .confirm-modal-title {
    font-size: 20px;
  }

  .confirm-modal-msg {
    font-size: 15px;

    .name-bold {
      font-weight: bold;
    }
  }
}
