// fonts
$main-font-size: 16px;
$font-family: "Open Sans", sans-serif;

// colors
$white-primary: #fff;
$body-background: #eceff4;
$active-btn-bkg: #e7edf0;
$active-btn-color: #104f68;
$non-active-btn: #a7a7a7;
$gray-font: #989898;
$create-btn: #4c396f;
$create-btn-hover: #2e1f4b;
$confirm-btn: #125169;
$confirm-btn-hover: #042836;
$browse-btn: #949697;
$browse-btn-hover: #585858;

// btns
$btn-width: 100px;
