// fonts
$main-font-size: 16px;
$font-family: "Open Sans", sans-serif;

// colors
$white-background: #fff;
$body-background: #eceff4;
$active-btn-bkg: #e7edf0;
$active-btn-color: #104f68;
$non-active-btn: #a7a7a7;
$gray-font: #989898;
