@import "../../../assets/scss/variables";

.table-view {
  width: 90%;
  margin: 1rem auto;
}

.image-cell {
  width: 130px;
}

.mat-column-planet-name {
  width: 350px;

  .planet-name {
    font-size: 18px;
  }
  .planet-description {
    color: $gray-font;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
  }
}

.table-row {
  cursor: pointer;
}
