@import "src/assets/scss/mixins";
@import "src/assets/scss/variables";

.modal-wrapper {
  .form-container {
    font-size: 14px;

    .upload-image-wrapper {
      @include flexbox(space-between, center);
      margin-bottom: 10px;

      .img-size {
        height: 5vh;
      }

      .photo-field {
        padding-left: 5px;
      }

      .input-upload {
        display: none;
      }

      .browse-btn {
        @include button(
          $btn-width,
          $browse-btn,
          $white-primary,
          $browse-btn-hover
        );
      }
    }

    .mat-form-field {
      width: 100%;
    }

    .split-form {
      display: flex;

      .m-left {
        margin-left: 15px;
      }
    }

    .field-margin-bottom {
      margin-bottom: 10px;
    }
  }
}
