<header class="header-wrapper">
  <h1 class="header-title">{{planet?.planetName}}</h1>
  <div class="header-actions">
    <button class="edit-btn" mat-raised-button (click)="editPlanet(planet)">Edit</button>
    <button class="delete-btn" mat-raised-button (click)="deletePlanet(planet)">Delete</button>
  </div>
</header>

<div class="planet-container">
  <div class="planet-img-basic-container">
    <div class="planet-img-wrapper">
      <img class="planet-img" src="{{planet?.imageUrl}}">
    </div>
    <div class="basic-info_content">
      <h2 class="planet-name">{{planet?.planetName}}</h2>
      <p class="planet-description">{{planet?.description}}</p>
    </div>
  </div>
  <div class="additional-info">
    <div class="additional-info__up">
      <div class="additional-info__up--left">
        <ng-container *ngTemplateOutlet="TextAndValue; context: {value: planet?.planetRadiusKM, text: 'Radius in km'}">
        </ng-container>

      </div>
      <div class="additional-info__up--right">
        <ng-container
          *ngTemplateOutlet="TextAndValue; context: {value: planet?.distInMillionsKM?.fromSun, text: 'Dist. from Sun'}">
        </ng-container>
      </div>
    </div>
    <div class="additional-info__bottom">
      <div class="additional-info__bottom--left">
        <ng-container *ngTemplateOutlet="TextAndValue; context: {value: planet?.planetColor, text: 'Color'}">
        </ng-container>
      </div>
      <div class="additional-info__bottom--right">
        <ng-container
          *ngTemplateOutlet="TextAndValue; context: {value: planet?.distInMillionsKM.fromEarth, text: 'Dist. from Earth'}">
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #TextAndValue let-value="value" let-text="text">
  <div class="info-value">{{value}}</div>
  <div class="info-text">{{text}}</div>
</ng-template>